<main>
    <h1>This is the place you can write your thoughts</h1>
    <div class="start">
        <p>To start writing, just click the button.</p>
        <label for="button"></label>
        <button><a href="/compose">Start</a></button>
    </div>
