<main>
    <h1>This is the place you can write your thoughts</h1>
    <div class="start">
        <p>Start do it right now. Just click the button</p>
        <label for="button"></label>
        <button>Start</button>
    </div>