<form action="/submit" method="POST">
  <fieldset>
    <div>
      <label for="title">Title</label>
      <input class="title" type="text" name="title">
    </div>
    <div>
      <label for="post">Post</label>
      <textarea class="post" name="post" id="post"></textarea>
    </div>
    <div class="button" >
      <button>Share</button>
    </div>
  </fieldset>
  </form>