<%- include("partials/header"); -%>
<form action="/edit" method="POST">
    <fieldset>
      <div>
        <label for="title">Title</label>
        <input class="title" type="text" name="editedTitle" value="<%= title %>"></input>
      </div>
      <div>
        <label for="post">Post</label>
        <textarea class="post" name="editedBody" id="post"><%= content %></textarea>
      </div>
      <div class="button" >
        <button name="button" type="submit">Save</button>
      </div>
    </fieldset>
    </form>
<%- include("partials/footer"); -%>