* {
    box-sizing: border-box;
  }
  
body {
    margin:0;
    padding:0;
    background-color: white;
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    color: #033558;
}


nav {
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    height: 80px;
    border: #06639D solid 3px;
    border-radius: 15px;
    background-color: #4799CC;
    padding: 0 100px; 
}

ul {
    display: flex;
    margin-right: -5rem;
}

li {
    list-style-type: none;
    padding: 5px 15px;
    text-decoration: none;  
}

a {
    position:relative;
    display: block;
    transition-duration: 0.2s;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    text-decoration: none;
    color: lightblue;
    -webkit-text-stroke: 1px #033558;
}

a:hover {
    padding-top: 5px;
    transition-duration: 0.2s;

}

main {
    padding: 0 120px;
    min-height:100%;
    position:relative;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    margin-top: 30px;
    text-align: center;
}

p {
    margin-top: 10px;
    font-size: 22px;
}

button {
    background-color: rgb(250, 227, 114);
    border: #ffc400 solid 3px;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 26px;
    -webkit-text-stroke: 0.5px #033558;
}

button:hover {
    background-color: #f7e481;
    border: rgb(218, 185, 77);
    font-size: 28px;
    color: rgb(145, 219, 243);
}

.start {
    display: flex;  
    justify-content:center; 
    padding-top: 50px;

}



form { 
    position: relative;
    
}

fieldset {
    border:none;
}

label {
    position:inherit;
    margin-left: 10%;
    font-size: 2rem;
    font-weight: 900;
}

input, textarea { 
    display: block; 
    width: 80%; 
    margin: 0 auto;
    border: #7bc4f1 solid 3px;
    border-radius: 8px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    background-color: #dfeff8;
}

textarea {
    height: 200px;
}

.button {
    padding-top: 60px;
    justify-self: center;
}

.published {
    text-align: left;
    width: 80%; 
    margin: 20px auto;
    border: #ffc400 solid 3px;
    border-radius: 15px;
    background-color: #f7e481;
    padding:3em;
}

.delete {
    color: red;
}

.edit {
    color: green;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    box-sizing: border-box;
    border: #06639D solid 3px;
    border-radius: 15px;
    background-color: #4799CC;
    padding: 0 100px;
    bottom: 0;
    color: lightblue;
    -webkit-text-stroke: 0.5px #033558;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    text-align: center;
}
